a {
    color: #009FDA;
    text-decoration: none;
}

a:hover {
    color: #00BAFF;
}

.buttons_menu {
    float: right;
    padding-bottom: 20px;
}

.sidebar {
    padding-top: 100px;
    padding-left: 10px;
}